

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: blue;
  color: #ffffff;
  font-size: 30px;
  height: 100px;
}
form{
  text-align: center;
  margin-top: 2rem;
}
.App{
  text-align: center;
}